<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Generation OZ <i>JOB SEARCH</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/something">Something</a>
                <a class="nav-link" href="/something/new">New</a>
            </div>
            <div class="navbar-nav ml-auto">
                <!-- login, register, logout -->
                <form class="d-flex" id="formSubmit">
                    <input class="form-control me-2" type="search" placeholder="search jobs..." aria-label="Search"
                        id="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

    </div>
</nav>